<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32006943887-gpji2e8g0bht5qc110s6hiiua85st7vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32006943887-gpji2e8g0bht5qc110s6hiiua85st7vt</string>
	<key>API_KEY</key>
	<string>AIzaSyD7WMIwp-LxRY_JGHlhHcQhS2fo4xsMw2w</string>
	<key>GCM_SENDER_ID</key>
	<string>32006943887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-tutorial-dd734</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-tutorial-dd734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32006943887:ios:01e54c8ccb13b084672cfa</string>
</dict>
</plist>